.blogs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    text-align: left;
    margin: 50px 50px;
}
.blogs div{
    /* border: 1px solid; */
    padding: 10px;
    box-shadow: 1px 1px 10px rgba(40, 40, 40, 0.232);
}