/* CSS for inventory */
.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    
}


/* CSS for inventoryItems */
.singleItem{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    height: 100%;
}
.image {
    border-radius: 5px 5px 0 0;
    height: 250px;
}
.manage-btn{
    margin-left: 50%;
    transform: translateX(-50%);
}

@media only screen and (max-width: 667px){
.items {
    grid-template-columns: repeat(1, 1fr);
}
}