.add-form{
    width: 400px;
    margin: 50px auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 20px;
    border-radius: 5px;
}
.input-field , .text-area{
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    border: 1px solid #c7c7c7;
}
.submit-btn{
    padding: 5px;
    background-color: blue;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 1.2em;
}
.submit-btn:hover{
    background-color: #0000c8;
}
.addNewItem{
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 1px #F8F8F8;
  text-shadow: 0px 2px 4px rgb(110, 110, 110);
}